$c_fondo_nav: rgb(28, 61, 133);
$c_Main_fondo:  rgb(68, 150, 80);
$c_articulo_letra: grey;
$c_nav_letra: lightblue;
$c_titulo_principal: rgb(0, 0, 0); 
$c_articulo_fondo: black;
$c_tablaproductos_fondo: black ;
$c_tablaproductos_letra: white;
